# Dependencias instaladas
/node_modules

# Archivos generados por npm
package-lock.json


# Archivos *.log
*.log

# Carpeta de Log en src
logs/general/
/src/.DS_Store

# Archivos de Configuracion en src/Config
/src/config/*.json
/src/config/database.json


/public/sorteo
/public/cliente

# Archivos de Configuracion en Api/Config
/api/config/*.json
/api/config/database.json
/api/condig/databaseNeizan.json
/api/config/mail.json
/api/config/envVars.json
/api/config/firebase.json
api/.DS_Store
.dockerignore
Dockerfile
docker-compose.yml