{
    "development": {
        "serverConfigurations": {
            "port": 4004,
            "url": "http://localhost:4004"
        },
        "apiVersions": [
            "v1"
        ],
        "authorizedUsers": {
            "admin": "supersecretSion$123"
        },
        "disableMail": true,
        "activarBasicAuth": true,
                "sorteo":{
            "longitudTicketsCeros":10
        },
        "wpp":{
            "url":"https://api.ultramsg.com/instance82715/messages/chat",
            "token":"dpbhdlou2z3qbo68",
            "instanceID":"instance82715"
        }
    }
}