{
    "definition": {
        "openapi": "3.0.0",
        "info": {
            "title": "Sion Api",
            "version": "0.1.0",
            "description": "This is a simple CRUD API application made with Express and documented with Swagger",
            "license": {
                "name": "MIT",
                "url": "https://spdx.org/licenses/MIT.html"
            },
            "contact": {
                "name": "GrupoSion",
                "url": "https://gruposion.bo",
                "email": "noreply-sion-gateway@gruposion.bo"
            }
        }
    },
    "apis": [
        "./routes/v1/*.js"
    ]
}